@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #282c34;
    color: #c9ccd2;
}

#audio-player-container::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(to left, #007db5, #ff8a00);
    z-index: -1;
}
